includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    scanDirectories:
        - vendor/php-http/discovery/src
        - vendor/psr/http-client/src
        - vendor/psr/http-factory/src
        - vendor/psr/http-message/src
